html {
  background-color: #333d51;
}

body {
  background-color: #d3ac2b;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

div,
h1 {
  background-color: #d3ac2b;
}

a {
  background-color: #333d51;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  color: #cbd0d8;
}

p,
h1,
h2,
h3 {
  color: black;
}

#portions {
  font-style: italic;
}

table {
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 20px;
}
