<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Pasta, Pasta, Paste Everywhere!</title>
  </head>
  <body>
    <h1>Welcome to the Pasta of a lifetime!</h1>
    <h2>Pasta recipes:</h2>
    <p>This section links to the various offspring of the Pasta monster.</p>
    <a href="/salmonAndSpinach">Pasta with Salmon and Spinach</a>
    <h2>The history of pasta!</h2>
    <p>Something... Something... Dark si..., ehh, Marco Polo...</p>
    <h2>Spaghetti code</h2>
    <p>
      Please do not write spaghetti code, leave that for the legacy developers.
    </p>
  </body>
</html>
