<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pasta, Pasta, Paste Everywhere!</title>
  </head>
  <body>
    <h1>Welcome to the Pasta of a lifetime!</h1>
    <a id="nav" href="/">Back to index</a>
    <div class="recipe">
      <h2>Snabb pasta med lax och spenat</h2>
      <p id="portions">4 portioner, 15 min</p>
      <h3 id="recipe-headers">Ingredienser</h3>
      <table>
        <tr>
          <th>Mängd</th>
          <th>Ingrediens</th>
          <th>Anvisning</th>
        </tr>
        <tr>
          <td>500 g</td>
          <td>Färsk pasta</td>
          <td>Gärna bandpasta</td>
        </tr>
        <tr>
          <td>400 g</td>
          <td>Fryst bladspenat</td>
          <td>tinad</td>
        </tr>
        <tr>
          <td>1/2 msk</td>
          <td>Smör</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Vitlöksklyfta</td>
        </tr>
        <tr>
          <td>1 tsk</td>
          <td>Salt</td>
        </tr>
        <tr>
          <td>3 krm</td>
          <td>Svartpeppar</td>
          <td>Grovmald</td>
        </tr>
        <tr>
          <td>2dl</td>
          <td>Crème Fraiche</td>
        </tr>
        <tr>
          <td>300 g</td>
          <td>Kallrökt lax</td>
        </tr>
        <tr>
          <td>150g</td>
          <td>Körsbärstomater</td>
        </tr>
      </table>
      <h3 id="recipe-headers">Gör så här</h3>
      <p id="steps">
        <ol>
            <li>Koka pastan enligt anvisning på förpackningen.</li>
            <li>Hacka spenaten och stek den i smör. Pressa över vitlöken, salta och peppra. Blanda ner Crème Fraiche.</li>
            <li>Skär laxen i småbitar och blanda spenat, lax och tomater i pastan.</li>
        </ol>
      </p>
    </div>
  </body>
</html>
